src/main/java/Utils/XML/XML/dtd/course.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT courses (course*)>


<!ELEMENT course (name,teacher,duration,desc)>
<!ELEMENT name (#PCDATA)>

<!ELEMENT teacher ((fName|lName)*)>
<!ELEMENT fName (#PCDATA)>
<!ELEMENT lName (#PCDATA)>


<!ELEMENT duration (#PCDATA)>
<!ELEMENT desc (#PCDATA)>




<!ENTITY welcome "欢迎来江南">
<!ATTLIST course id ID #REQUIRED >